<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated data -->
      <package
            uri="http://hub.de/2015/VisualEMF/Data"
            class="de.hub.visualemf.data.DataPackage"
            genModel="model/data.genmodel"/>
   </extension>

</plugin>
